<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="header">
    <h1 class="logo">
      <a href="#">BLOG</a>
    </h1>
    <nav class="global-nav">
      <ul>
        <li class="nav-item"><a href="#">SignIn</a></li>
        <li class="nav-item"><a href="#">SignOut</a></li>
        <li class="nav-item"><a href="posts/new">New</a></li>
      </ul>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
